version: "3.9"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: esthetimanage
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env.example
    depends_on:
      - db
    ports:
      - "8000:8000"
  frontend:
    working_dir: /app
    build:
      context: ./frontend
    command: npm run dev -- --hostname 0.0.0.0
    environment:
      - NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1
    ports:
      - "3000:3000"
    depends_on:
      - backend
volumes:
  postgres_data:
